body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

.game {
  display: grid;
  place-items: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 20px;
}

.game-buttons {
  margin-top: 20px;
}

.move-icon {
  height: 50px;
}

.move-btn {
  background-color: transparent;
  border: 3px solid white;
  padding: 40px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
}

.score{
  margin-top: 60px;
}

.reset-score-btn {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}